<!DOCTYPE html>
{% load highlight %}    
{% load url from future %}

<html lang=en>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Haystack Example</title>
    <link href="{{ STATIC_URL }}css/app.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
        
</head>

<body>
    <div class="container">
    <div class="row">
        <div class="col-md-9 col-sm-9">
            <h1>{% block title %} Haystack Search Example {% endblock %}</h1>
            
            <h4 class="blue">Search through the data</h4>
        </div>
        <div class="col-md-3 col-sm-3">
                {% if user.is_authenticated %}
                <h4>Hello, {{ user.username }}!</h4>
                <a class="btn btn-danger btn-xs" href="{% url 'logout' %}">Logout</a>
                <a class="btn btn-primary btn-xs" href="{% url 'login' %}">Sign in as a different user</a>
                {% else %}
                <h4>Please login or register.</h4>
                <a class="btn btn-primary btn-xs" href="{% url 'register' %}">Register Here</a>
                <a class="btn btn-success btn-xs" href="{% url 'login' %}">Login</a>
                {% endif %}
            
        </div><!-- ends six columns -->
    </div>
    {% block all_notes %}
    {% endblock %}
        
        {% if query %}
        <form method="get" action=".">
        <table>
            <tr>
                <th>
                    <label for="id_q">Search:</label>
                </th>
                <td>
                    <input id="id_q" name="q" type="text" value="" />
                </td>
                <td>
                    <input type="submit" value="Search" class="btn btn-primary">
                </td>
            </tr>
        </table>
    </form>    
        <br />
        <h3>Results</h3>
        {% for result in page.object_list %}
    
    {% block content %}
    {% endblock %}

        {% empty %}
                <p>No results found.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% endif %}    
    

    {% block notes %}
    {% endblock %}
    
    {% block register %}
    {% endblock %}
    
    {% block login %}
    {% endblock %}

    
    <!--{% for note in notes %}
        {{ note.title }}
    {% endfor %}-->

    
    </div>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    
</body>
</html>