<!DOCTYPE html>
    
{% load url from future %}

<html lang=en>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Haystack Example</title>
    <link href="{{ STATIC_URL }}css/app.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
        
</head>

<body>
    <div class="container">
    <h1>{% block title %} Haystack Search Example {% endblock %}</h1>
    <!--<p>And here's some text.</p>
    
    <p>{{ message }}</p>
    <p>Today is {% now "l" %}</p>-->
    
    {% block content %}{% endblock %}
    
    </div>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    
</body>
</html>