{% extends 'base.html' %}
{% load highlight %}

{% block content %}
    
            

            
                
                <p>
                   
                    <a href="{{ result.object.note.id }}#{{ result.object.id }}">{{result.object.title}}</a>
                    <br />
                    {% highlight result.object.body with query html_tag "span" class "highlighted" %}
                    <br />
                    {{result.object.timestamp}}
                    
                </p>

            
        
{% endblock %}