{% extends "base.html" %}

{% load highlight %}
{% load url from future %}



{% block notes %}

<h2>{{ tempvar }}</h2>

<div class="row">
    <div class="col-md-3 col-sm-3 blue">
        {{ note.title }}
    </div>

    <div class="col-md-9 col-sm-9">
        {% for notesegment in all_segments %}
                

        <a name="{{ notesegment.id }}"></a>
        <b>{{ notesegment.title }}</b>
    
        <br />
        {% highlight notesegment.body with tempvar html_tag "span" css_class "label label-info blueBG" %}
        {{ notesegment.body }}
        <div class="blue small">
            {{ notesegment.timestamp }}
        </div>

        <br />
        
   
{% endfor %}
        
    </div>
</div>

<div class="row">
    <div class="col-md-3 col-sm-3"></div>
    <div class="col-md-3 col-sm-3">
        <a href="/"><button type="button" class="btn btn-primary btn-block">
            Return
        </button></a>
    </div>
    <div class="col-md-6 col-sm-6"></div>
</div>

<!--<div class="row">
    <div class="col-md-9 col-sm-9">

    </div>
    <div class="col-md-3 col-sm-3">
        
        <a href="/"><button type="button" class="btn btn-primary btn-block">
            Return
        </button></a>
    </div>
</div>-->

<div class="spacer"></div>

{% endblock %}