{% extends "base.html" %}

{% load highlight %}
{% load url from future %}



{% block notes %}
    <form method="get" action=".">
        <table>
            <tr>
                <th>
                    <label for="id_q">Search:</label>
                </th>
                <td>
                    <input id="id_q" name="q" type="text" value="" />
                </td>
                <td>
                    <input type="submit" value="Search" class="btn btn-primary">
                </td>
            </tr>
        </table>
    </form>    
        <br />
        
        
        <!-- This is the form that I'd like to use to save the query string to the UserProfile data -->
        <form method="post" action="{% url 'topics' %}"
                enctype="multipart/form-data">
            {% csrf_token %}
            <input type="submit" name="submit" value="Save" />
        </form>

<h2>{{ tempvar }}</h2>

<div class="row">
    <div class="col-md-3 col-sm-3 blue">
        {{ note.title }}
    </div>

    <div class="col-md-9 col-sm-9">
        {% for notesegment in all_segments %}
                

        <a name="{{ notesegment.id }}"></a>
        <b>{{ notesegment.title }}</b>
    
        <br />
        {% highlight notesegment.body with tempvar html_tag "span" css_class "label label-info blueBG" %}
        {{ notesegment.body }}
        <div class="blue small">
            {{ notesegment.timestamp }}
        </div>

        <br />
        
   
{% endfor %}
        
    </div>
</div>

<div class="row">
    <div class="col-md-3 col-sm-3"></div>
    <div class="col-md-3 col-sm-3">
        <a href="/"><button type="button" class="btn btn-primary btn-block">
            Home
        </button></a>
    </div>
    <div class="col-md-6 col-sm-6"></div>
</div>

<!--<div class="row">
    <div class="col-md-9 col-sm-9">

    </div>
    <div class="col-md-3 col-sm-3">
        
        <a href="/"><button type="button" class="btn btn-primary btn-block">
            Return
        </button></a>
    </div>
</div>-->

<div class="spacer"></div>

{% endblock %}