{% extends 'base.html' %}

{% block search %}
    <h4 class="blue">Search through the data</h4>

    <form method="get" action=".">
        <table>
            <tr>
                <th>
                    <label for="id_q">Search:</label>
                </th>
                <td>
                    <input id="id_q" name="q" type="text" value="" />
                </td>
                <td>
                    <input type="submit" value="Search" class="btn btn-primary">
                </td>
            </tr>
        </table>

        {% if query %}
            <h3>Results</h3>

            {% for result in page.object_list %}
                <p>
                   
                    <a href="{{ result.object.note.id }}?={{ query }}#{{ result.object.id }}">{{result.object.title}}</a>
                    <br />
                    {% highlight result.object.body with query html_tag "span" css_class "label label-info blueBG" %}
                    <br />
                    {{result.object.timestamp}}
                    
                </p>
            {% empty %}
                <p>No results found.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
    
    <!--<form method="post" action="{% url 'topics' %}"
                enctype="multipart/form-data">
            {% csrf_token %}
            <input type="submit" name="submit" value="Save" />
        </form>-->
{% endblock %}